@use '../1-settings/variables';
@use '../1-settings/functions';



/* === DESCRIPCIÓN === */
.city-about {
    padding: functions.rem(20);
    font-size: functions.rem(16);
    line-height: 1.6;
    color: variables.$brand;
    text-align: center;
}

/* === SEPARADOR === */
.city-separator {
    width: 80%;
    margin: functions.rem(20) auto;
    border: none;
    border-top: 1px solid #ccc;
}

/* === LISTA DE SITIOS === */
.city-sights {
    padding: functions.rem(20);

    h2 {
        margin-bottom: functions.rem(20);
        font-size: functions.rem(22);
        color: variables.$brand;
        text-align: center;
    }

    &__grid {
        display: grid;
        gap: functions.rem(20);

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            gap: functions.rem(30);
        }
    }

    .city-sight {
        padding: functions.rem(20);
        text-align: center;
        background-color: #f9f9f9;
        border-radius: functions.rem(8);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(functions.rem(-5));
        }

        picture {
            display: block;
            // max-width: functions.rem(350);
            margin: 0 auto functions.rem(15);
        }

        &__img {
            width: 100%;
            height: auto;
            max-height: functions.rem(500);
            object-fit: cover;
            border-radius: functions.rem(6);
        }

        &__header {
            margin-bottom: functions.rem(10);

            .city-sight__title {
                font-size: functions.rem(18);
                font-weight: 700;
                color: variables.$brand;
            }
        }

        &__what,
        &__why {
            margin-bottom: functions.rem(15);
            text-align: center;

            h4 {
                margin-bottom: functions.rem(5);
                font-size: functions.rem(14);
                font-weight: 700;
                color: functions.shade-color(variables.$brand, -20%);
            }

            p {
                font-size: functions.rem(14);
                line-height: 1.5;
                color: #333;
            }
        }
    }
}