@use '../1-settings/functions';
@use '../1-settings/variables';

/* === HERO === */
.city-hero {
    text-align: center;
    padding: functions.rem(30);

    &__title {
        font-size: functions.rem(28);
        color: variables.$brand;
        font-weight: 700;
    }

    @media (min-width: 768px) {
        &__title {
            font-size: functions.rem(40);
        }
    }
}