<!-- Slider -->
<section class="city-slider swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <picture>
                <!-- <source srcset="./assets/images/giralda.webp" type="image/webp" /> -->
                <img src="./assets/images/catedral.jpg" alt="La Giralda" class="city-slider__img" />
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <!-- <source srcset="./assets/images/plaza-espana.webp" type="image/webp" /> -->
                <img src="./assets/images/plaza-espana.jpg" alt="Plaza de España" class="city-slider__img" />
            </picture>
        </div>
        <div class="swiper-slide">
            <picture>
                <!-- <source srcset="./assets/images/alcazar.webp" type="image/webp" /> -->
                <img src="./assets/images/alcazar.jpg" alt="Real Alcázar" class="city-slider__img" />
            </picture>
        </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

</section>